$white: #ffffff;
$black: #000000;
$maxWidth: 1280;
$red: #e83d26;
$whiteSmoke: #f6f6f6;
$white100: #dfdfdf;
$grey: #373737;
$grey100: #8c8c8c;
$grey200: #dddddd;
$grey300: #6c757d;
$grey400: #a1a1a1;
$graphit: #202020;
$graphit100: #101010;

$red100: #ff2002;
$red200: #e72025;
$red300: #fc4653;
$orange: #e95029cc;
$green: #02b509;
$blue: #00b1e9;
$yellow: #e2e700;
$blue100: #01d1ff;

$gradient: linear-gradient(
  -90deg,
  #e72025,
  #e83d26,
  #e95029,
  #eb6c29,
  #eb842e,
  #cf7d39,
  #b37542,
  #a47147,
  #956d4c,
  #80576f,
  #3b556c
);

$fontBicubik: "Bicubik";
$fontPTFont: "ptfontui";
$fontNunitoBold: "Nunito-Bold";
$fontNunitoLight: "Nunito-Light";
